.tooltip-container {
	position: absolute;
	z-index: 1;
}

.tooltip {
	border: 1px solid;
	background: beige;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	
	color: black;
	font-size: 12;
	font-family: sans-serif;
	text-align: left;

	white-space: pre-wrap;
}